.box{
    height: 100px;
    width: 300px;
    background-color: pink;
    /* animation-name: widthAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: normal; */

    animation: widthAnimate 3s ease-in-out 0s infinite normal;
}

@keyframes widthAnimate {
    from {
        width: 10px;
        font-size: 20px;
        background-color: green;
    }
    to {
        width: 400px;
        font-size: 40px;
        background-color: blue;
    }
}