.container{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-gap: 10px;
}

.h{
    grid-column: 1/span 12;
    background-color: pink;
    font-size: 20px;
}

.s{
    grid-column: 1/span 3;
    grid-row: 2/span 10;
    background-color: pink;
    font-size: 20px;
}

.n{
    grid-column: 4/span 6;
    background-color: pink;
    font-size: 20px;
}
.a{
    grid-column: 10/span 3;
    grid-row: 2/span 10;
    background-color: pink;
    font-size: 20px;
}

.m{
    grid-column:4/span 6 ;
    grid-row: 3/span 9;
    background-color: pink;
    font-size: 20px;
}
.f{
    grid-column: 1/span 12;
    background-color: pink;
    font-size: 20px;
}

@media(min-width:0) and (max-width:700px){

    .h{
        grid-column: 1/ span 12;
        grid-row: 1/span 1;
    }
    .n{
        grid-column: 1/span 12;
        grid-row: 2/ span 1;
    }

    .s{
        grid-column: 1/ span 3;
        grid-row: 3/ span 9;
    }

    .m{
        grid-column: 4/span 9;
        grid-row: 3/ span 9;
    }

    .a{
        grid-column: 1/ span 3;
        grid-row: 12/span 1;
    }
    .f{
        grid-column: 4/span 9;
        grid-row: 12/span 1;
    }
}